# APPLICATION | MEMCACHED
APPLICATION_MEMCACHED_CONTAINER_NAME=sm_assignment_app_memcached
APPLICATION_MEMCACHED_IMAGE_NAME=memcached
APPLICATION_MEMCACHED_IMAGE_TAG=latest
APPLICATION_MEMCACHED_HOST=memcached
APPLICATION_MEMCACHED_PORT=11211
